<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 sidebar">
      </br>
      <h4>TASK HISTORY<h4>
        <div class="form-group">
        <input ng-model="task" id="taskInput" class="form-control" type="text" placeholder="Enter task..."></input>
        </div>
        <button class="btn btn-info pull-right" ng-click="addTask()">Add Task</button>
      <table class="table table-striped">
      </br>
      </br>
        <!-- Order tasks -->
        <tr ng-repeat="task in tasks | orderBy: 'created_at': true"></br>
          <!-- Remove a task -->
          <td>{{ task.name }} <a class="btn btn-info pull-right btn-xs" href="#" role="button" ng-click="tasks.$remove(task)">x</a></td>      
        </tr>
      </table>

    </div>
    <div class="row">
      <div class="col-xs-8 app-content">
        <img src="/app/images/bloctimeBackground.jpg"> 
        <h4>{{ title }}</h4>
        <h1>{{ toggleTime | remainingTime }}</h1>
        </br>
      <button ng-click="updateTimer()" ng-show="!onBreak" class="btn btn-info">{{ toggleName }}</button>
      <button ng-click="updateTimer()" ng-show="onBreak" class="btn btn-info">{{ toggleName }}</button>
      </div>
    </div>
  </div>
</div>
